<div class="row">
    <span class="col-lg-4 col-md-4" style="font-size: xx-large;">Items</span>
    <div class="col-lg-8 col-md-8 pull-right">
        <div class="input-group">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default btn-fill dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{status}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="" ng-click="changeStatus('InStore')">Instore</a></li>
                    <li><a href="" ng-click="changeStatus('Wished')">Wished</a></li>
                    <li><a href="" ng-click="changeStatus('OnHold')">OnHold</a></li>
                    <li><a href="" ng-click="changeStatus('Archived')">Archived</a></li>
                </ul>
            </div>
            <input type="text" class="form-control" ng-keypress="($event.charCode==13)?searching():return" placeholder="Search here..." ng-model="search.string" >
            <span class="input-group-btn">
                <button class="btn btn-primary btn-fill" type="button" ng-click="searching()">Search</button>
            </span>
        </div>
    </div>
</div>
<hr/>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center">Id</th>
                <th>Image</th>
                <th>Title</th>
                <th class="text-center">Owner</th>
                <th class="text-center">Lease Term</th>
                <th class="text-center">Lease Value(INR)</th>
                <th>Public Url</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td class="text-center">{{item.itemId}}</td>
                <td><img class="img-rounded" load-image="item.primaryImageLink" max-width="50" max-height="50" ng-src="" alt="..."/></td>
                <td>{{item.title}}</td>
                <td class="text-center">{{item.fullName}}</td>
                <td class="text-center">{{item.leaseTerm}}</td>
                <td class="text-center">{{item.leaseValue}}</td>
                <td><a href="/flsv2/ItemDetails?uid={{item.uid}}">{{item.uid}}</a></td>
                <td class="td-actions text-center">
                    <button class="btn btn-success btn-simple btn-xs btn-tooltip" data-toggle="tooltip" data-placement="top" title="Edit Item" ng-click="editItem($index)">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button class="btn btn-danger btn-simple btn-xs btn-tooltip" data-toggle="tooltip" data-placement="top" title="Delete Item" ng-click="deleteItem($index)">
                        <i class="fa fa-times"></i>
                    </button>
                    <br>
                    <button type="button" rel="tooltip" title="Remove" class="btn btn-fill btn-xs ng-class:{'btn-success':(item.status=='InStore'),'btn-danger':(item.status=='OnHold'),'btn-info':(item.status=='Wished'),'btn-warning':(item.status=='Archived')}" ng-click="changeActiveStatus($index)">
                        <i>{{item.status}}</i>
                    </button>
                </td>
              </tr>
        </tbody>
    </table>
    <ul class="pagination pull-right">
        <li ng-click="prevItems()"><a href="">&laquo;</a></li>
        <li class="active"><a href="#">{{pageNo}}</a></li>
        <li ng-click="nextItems()"><a href="">&raquo;</a></li>
    </ul>
</div>
