<div class="row">
    <span class="col-lg-4 col-md-4" style="font-size: xx-large;">Leases</span>
    <div class="col-lg-8 col-md-8 pull-right">
        <div class="input-group">
            <div class="input-group-btn">
                <button type="button" class="btn btn-primary btn-fill dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{status}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="" ng-click="changeStatus('Active')">Active</a></li>
                    <li><a href="" ng-click="changeStatus('Archived')">Archived</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<hr/>
<div class="table-responsive" style="min-height:500px;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center">Id</th>
                <th>Image</th>
                <th>Owner Address</th>
                <th>Requestor Address</th>
                <th class="text-center" style="min-width:150px;" ng-if="status != 'Archived'">
                    <div class="dropdown">
                        <button type="button" class="btn btn-Default btn-simple dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{(statusFilter=='' ? 'All' : statusFilter)}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="" ng-click="activeStatusFilter('')">All</a></li>
                            <li><a href="" ng-click="activeStatusFilter('LeaseReady')">LeaseReady</a></li>
                            <li><a href="" ng-click="activeStatusFilter('PickedUpOut')">PickedUpOut</a></li>
                            <li><a href="" ng-click="activeStatusFilter('LeaseStarted')">LeaseStarted</a></li>
                            <li><a href="" ng-click="activeStatusFilter('LeaseEnded')">LeaseEnded</a></li>
                            <li><a href="" ng-click="activeStatusFilter('PickedUpIn')">PickedUpIn</a></li>
                        </ul>
                    </div>
                </th>
                <th>Title</th>
                <th class="text-center">Owner</th>
                <th class="text-center">Requestor</th>
                <th class="text-center">Lease Term</th>
                <th class="text-center">Lease Value(INR)</th>
                <th class="text-center">Lease Expiry</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="lease in leases | filter : {status: statusFilter}">
                <td class="text-center">{{lease.itemId}}</td>
                <td><img ng-src="{{(lease.image === '' || lease.image === null || lease.image === NULL || lease.image === 'null') ? 'images/imgplaceholder.png' : lease.image}}" style="width:50px;"></td>
                <td class="text-center">{{lease.ownerAddress}}<br/>Ph-{{lease.ownerMobile}}</td>
                <td class="text-center">{{lease.requestorAddress}}<br/>Ph-{{lease.requestorMobile}}</td>
                <td class="td-actions text-center" ng-if="status != 'Archived'">
                    <button type="button" rel="tooltip" title="Status" class="btn btn-fill btn-xs btn-success" ng-click="changeActiveStatus($index, lease.status)">
                        <i>{{lease.status}}</i>
                    </button>
                </td>
                <td>{{lease.title}}</td>
                <td class="text-center">{{lease.ownerUserId}}</td>
                <td class="text-center">{{lease.requestorUserId}}</td>
                <td class="text-center">{{lease.leaseTerm}}</td>
                <td class="text-center">{{lease.leaseValue}}</td>
                <td class="text-center">{{lease.leaseExpiryDate}}</td>
              </tr>
        </tbody>
    </table>
</div>
