<div class="container-fluid" id="midcontainer">

    <div class="row">
        <div class="left_title col-lg-6 col-md-6">
            <strong>Notifications</strong>
        </div>
	</div>

    <h4 ng-if="events.length == 0">You have no notifications</h4>

    <table class="table">
        <tbody>
            <tr ng-repeat="event in events">
                <td class="text-center">
                    <img style="width:50px;height:50px;" class="img-circle" ng-src="{{(event.profilePic === '' || event.profilePic === null || event.profilePic === NULL || event.profilePic === 'null') ? 'images/user_icon.png' : event.profilePic}}" alt="..">
                </td>
                <td class="text-center">
                    <i class="ng-class:{'pink fa fa-lg fa-user':(event.notificationType=='FLS_USER'),'green fa fa-lg fa-thumbs-up':(event.notificationType=='FLS_POSITIVE'),'red fa fa-lg fa-thumbs-down':(event.notificationType=='FLS_NEGATIVE'),'blue fa fa-lg fa-info-circle':(event.notificationType=='FLS_DEFAULT'),'purple fa fa-lg fa-clock-o':(event.notificationType=='FLS_TIME'),'orange fa fa-lg fa-cubes':(event.notificationType=='FLS_ITEM'),'blue fa fa-upload':(event.notificationType=='FLS_MESSAGE_FROM'),'blue fa fa-download':(event.notificationType=='FLS_MESSAGE_TO')}"></i><br/><br/>
				</td>
                <td class="ng-class:{'font-bold':(event.readStatus == 'FLS_UNREAD'),'font-normal':(event.readStatus == 'FLS_READ')}" ng-bind-html="event.notificationMsg | to_trusted">
				</td>
                <td class="td-actions text-center">
                    <button href="" class="label label-fill ng-class:{'label-primary':(event.readStatus == 'FLS_UNREAD'),'label-default':(event.readStatus == 'FLS_READ')}" title="{{event.readStatus == 'FLS_READ' ? 'Mark as unread' : 'Mark as read'}}" ng-click="(event.readStatus == 'FLS_UNREAD') ? readEvent($index,'FLS_READ') : readEvent($index,'FLS_UNREAD')">{{(event.readStatus == 'FLS_UNREAD') ? 'Mark as read' : 'Mark as unread'}}</button><br/>
                    <span style="color:#999999" class="btn-tooltip" data-toggle="tooltip" data-placement="bottom" title="{{event.datetime | date:'medium'}}">{{event.datetime | date}}</span>
                </td>
				<td class="td-actions text-center">
                    <button class="btn btn-danger btn-simple btn-xs btn-tooltip" data-toggle="tooltip" data-placement="top" title="Delete Notification" ng-click="deleteNotification(event.eventId,$index)">
                        <i class="fa fa-times "></i>
                    </button>
                </td>
              </tr>
        </tbody>
    </table>
    <div class="row" style="text-align:center;padding-bottom: 20px;">
        <button ng-if="loadMore" ng-click="loadmore()" class="btn btn-primary btn-round btn-fill">Load more..</button>
    </div>
</div>
