<div class="row">
    <h3 class="col-lg-3 col-md-3"><strong>Orders</strong></h3>
    <div class="col-lg-9 col-md-9 pull-left">
        <div class="input-group" id="inputGroup">
            <div class="input-group-btn">
                <button type="button" class="btn btn-primary btn-fill dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{type === "FLS_EXTERNAL" ? "EXTERNAL" : ( type === "FLS_INTERNAL" ? "INTERNAL" :"ALL")}}<span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
					<li><a href="" ng-click="changeStatus('FLS_ALL')">ALL</a></li>
                    <li><a href="" ng-click="changeStatus('FLS_EXTERNAL')">EXTERNAL</a></li>
                    <li><a href="" ng-click="changeStatus('FLS_INTERNAL')">INTERNAL</a></li>
                </ul>
            </div>
			<div class="col-md-2">
				From Date : <input class="datepicker form-control" type="text" name="fromDate" id="fromDate">
            </div>
			<div class="col-md-2">
                To Date : <input class="datepicker form-control" type="text" ng-model="toDate" name="toDate" id="toDate">
            </div>
			<div class="col-md-5">
                Search :<input type="text" class="form-control" ng-keypress="($event.charCode==13)?searching():return" placeholder="Search here..." ng-model="searchString" >
			</div>
			<span class="input-group-btn">
                <button class="btn btn-primary btn-fill" type="button" ng-click="searchOrders()">View</button>	
				</span>
        </div>
    </div>
</div>
<hr/>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
				<th class="tablecell" style="width: 10%">Order Id</th>
                <th class="tablecell" style="width: 15%">Date</th>
				<th class="tablecell" style="width: 10%">Amount</th>
				<th class="tablecell" style="width: 10%">User Name</th>
				<th class="tablecell" style="width: 10%">User Id</th>
				<th class="tablecell" style="width: 10%">Promo Code</th>
				<th class="tablecell" style="width: 15%">Razor Pay Id</th>
				<th class="tablecell" style="width: 10%">Credit Id</th>
				<th class="tablecell" style="width: 10%">Order type</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order in orders">
				<td>{{ order.orderId }}</td>
				<td>{{ order.orderDate }}</td>
				<td>{{ order.amount }}</td>
				<td>{{ order.orderUserName }}</td>
				<td>{{ order.orderUserId }}</td>
				<td>{{ order.promoCode }}</td>
				<td class="text-center"><a class="btn btn-primary btn-simple" ng-click="showOrderDetails($index)"><u>{{order.razorPayId}}</u></a></td>
				<td class="text-center"><a class="btn btn-primary btn-simple" ng-click="showCreditDetails($index)"><u>{{order.creditLogId}}</u></a></td>
				<td>{{ order.orderType }}</td>
			  </tr>
        </tbody>
    </table>
    <ul class="pagination pull-right">
        <li ng-click="prevOrders()"><a href="">&laquo;</a></li>
        <li class="active"><a href="#">{{pageNo}}</a></li>
        <li ng-click="nextOrders()"><a href="">&raquo;</a></li>
    </ul>
</div>

<!-- sample pop up starts here-->
<button href="#myModalTable" id="openBtn_creditDetails" data-toggle="modal" class="btn btn-default">Modal</button>

<div class="modal fade" id="myModalTable" data-backdrop="static" data-keyboard="false">
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
		<button type="button" class="close" ng-click="cancel_credit()" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 class="modal-title">Order Details</h3>
		</div>
		<div class="modal-body">
		<!--<h5 class="text-center">Credit Timeline is as follows</h5>-->
		<table id="creditLogTable" class="table table-striped" style='table-layout:fixed;word-wrap:break-word;'>
			<thead>
				<tr>
					<th class="tablecell" style="width: 20%">Date</th>
					<th class="tablecell" style="width: 25%">Credits Added</th>
					<th class="tablecell" style="width: 25%">User Name</th>
					<th class="tablecell" style="width: 30%">Credit Type</th>
				</tr>
				
			</thead>
			<tbody ng-repeat="y in creditDetailsArray">
				<tr ng-repeat="x in y">
					<td>{{ x.credit_date }}</td>
					<td style="text-align:center;">{{ x.credit_amount }}</td>
					<td>{{ x.userName }}</td>
					<td>{{ x.credit_type }}</td>
				</tr>
			</tbody>
		</table>
		</div>
		<div class="modal-footer">
		<button type="button" class="btn btn-default btn-fill" ng-click="cancel_credit()" data-dismiss="modal" ng-click="">Cancel</button>
		</div>
				
	</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- sample pop up ends here-->

<!-- Razor Pay pop up starts here-->
<button href="#myModalTableRazorPay" id="openBtn_razorPayDetails" data-toggle="modal" class="btn btn-default">Modal</button>

<div class="modal fade" id="myModalTableRazorPay" data-backdrop="static" data-keyboard="false">
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
		<button type="button" class="close" ng-click="cancel_credit()" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 class="modal-title">Razor Pay Details</h3>
		</div>
		<div class="modal-body">
		<!--<h5 class="text-center">Credit Timeline is as follows</h5>-->
		<table id="creditLogTable" class="table table-striped" style='table-layout:fixed;word-wrap:break-word;'>
			<thead>
				<tr>
					<th class="tablecell" style="width: 20%">Payment Date</th>
					<th class="tablecell" style="width: 10%">Amount Paid</th>
					<th class="tablecell" style="width: 30%">Transaction Id</th>
					<th class="tablecell" style="width: 20%">User Email</th>
					<th class="tablecell" style="width: 15%">Phone Number</th>
				</tr>
				
			</thead>
			<tbody ng-repeat="y in orderDetailsArray">
				<tr ng-repeat="x in y">
					<td>{{ x.paymentDate }}</td>
					<td style="text-align:center;">{{ x.amount }}</td>
					<td>{{ x.paymentId }}</td>
					<td>{{ x.paymentUserEmail }}</td>
					<td>{{ x.paymentUserPhoneNumber }}</td>
				</tr>
			</tbody>
		</table>
		</div>
		<div class="modal-footer">
		<button type="button" class="btn btn-default btn-fill" ng-click="cancel_order()" data-dismiss="modal" ng-click="">Cancel</button>
		</div>
				
	</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Razor Pay pop up ends here-->
