<div class="row" style="display:flex;flex-wrap:wrap;">
    <span class="col-lg-2 col-md-2" style="font-size: x-large;">User Traction</span>
    <div class="col-lg-1 col-md-1">
        <div class="input-group">
            <div class="input-group-btn">
                <button type="button" class="btn btn-primary btn-fill dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">WEEKLY <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="">WEEKLY</a></li>
                    <li><a href="">MONTHLY</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-lg-2" style="padding:10px;">From:</label>
                    <div class="col-lg-10">
                        <input class="form-control" type="date" ng-model="fromDate" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-lg-1" style="padding:10px;">To:</label>
                    <div class="col-lg-10">
                        <input class="form-control" type="date" ng-model="toDate" />
                    </div>
                    <span class="col-lg-1"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-primary btn-fill" type="button" ng-click="plot()"><i class="fa fa-line-chart" aria-hidden="true"></i> Plot</button>
            </span>
            <span class="input-group-btn" style="padding-left:20px;">
                <button class="btn btn-primary btn-fill" type="button" ng-click="save()"><i class="fa fa-download" aria-hidden="true"></i> Save</button>
            </span>
        </div>
    </div>
</div>
<hr/>
<div class="container" style="min-height:500px;">
    <div class="row">
        <div class="col-lg-9">
            <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick"></canvas>
        </div>
    </div>
</div>
