<div class="row" style="display:flex;flex-wrap:wrap;">
    <span class="col-lg-1 col-md-1" style="font-size: xx-large;">Tickets</span>
    <div class="col-lg-11 col-md-11">
        <ul class="nav nav-pills" style="float:right;">
            <li class="active"><a href="#">Done</a></li>
            <li><a href="#">Due</a></li>
            <li><a href="#">Pending</a></li>
        </ul>
    </div>
</div>
<hr/>
<div class="container-fluid" style="min-height:500px;">
    <div class="row" style="display:flex;flex-wrap:wrap;">
        <div class="col-lg-12 col-md-12">
            <button class="btn btn-primary btn-fill" ng-click="addTicketType()">Add Ticket Type</button>
            <button class="btn btn-primary btn-fill" ng-click="addTicket()">Add Ticket</button>
            <button class="btn btn-primary btn-fill" ng-click="addNote()">Add Note</button>
        </div>
    </div>
</div>
